<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>rsstodolist: an RSS based todo-list</title>
    <meta name="robots" content="<%= public ? 'index,follow' : 'noindex,nofollow' %>">
    <meta name="keywords" content="rss todolist, todolist">
    <meta name="author" content="Gr&eacute;gory Paul">
    <meta name="description" content="An RSS based todo-list">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="icon" type="image/png" href="./static/favicon.png">
    <meta name="viewport"
        content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>

<body>
    <div id="content">
        <h1>rsstodolist</h1>

        <div class="intro">

            <p>rsstodolist is a service that provides a simple way to create
                RSS feeds by sending URL to a feed.</p>

            <% if (public) { %>
                <p>That service is public and « open », meaning anyone knowing your feed name may see your items, add or
                    remove them.</p>
                <p>Also, that service is hosted via hobby plan on fly.io with some limitations.</p>
                <p>So, for more reliability and privacy, I <strong>strongly</strong> suggest you to self-host that
                    application (see <a href="#related">related projects below</a>).</p>
                <% } %>
        </div>

        <div>
            <details open>
                <summary>Access a feed</summary>
                <p>
                    <a href="?name=somename" rel="nofollow">
                        <%= rootUrl %>/<strong>?name</strong>=somename
                    </a>
                <p>You can add <code>limit</code> (or <code>l</code>) parameter to fetch from 1 to 500 items (default is
                    25 items).
                </p>
                <% if (!public) { %>
                    <p>You can see all existing feeds on <a href="<%= rootUrl %>/list" rel="nofollow">
                            <%= rootUrl %><strong>/list</strong>
                        </a></p>
                    <% } %>
            </details>
            <details open>
                <summary>add or delete an item by form</summary>
                <div class="tab-content">
                    <form method="get" id="submitForm" action="add">
                        <div>
                            <span class="label">action</span><label><input type="radio" name="action" value="add"
                                    checked>add</label>
                            <label><input type="radio" name="action" value="del">delete</label>
                        </div>
                        <div>
                            <label class="label" for="url">URL</label><input type="url" id="url" name="url"
                                placeholder="https://fr.wikipedia.org/" required maxlength="<%= lengths.url %>">
                            (required)
                        </div>
                        <div>
                            <label class="label" for="name">name</label><input type="text" id="name" name="name"
                                placeholder="somename" maxlength="<%= lengths.name %>"> (required)
                        </div>
                        <div>
                            <label class="label" for="title">title</label><input type="text" id="title" name="title"
                                placeholder="optional title" maxlength="<%= lengths.title %>">
                        </div>
                        <div>
                            <label class="label" for="description">descr.</label><input type="text" id="description"
                                name="description" placeholder="optional description"
                                maxlength="<%= lengths.description%>">
                        </div>
                        <input type="submit">
                        <% if (public) { %>
                            <p style="font-weight:bold;">⚠️ On public instance, « somename » feed is limited to
                                wikipedia pages to limit spam.
                            </p>
                            <% } %>
                    </form>
                </div>
            </details>
            <details open>
                <summary>Use Firefox addon and Chrome extension</summary>
                <p>A <a href="https://addons.mozilla.org/fr/firefox/addon/rsstodolist/">Firefox addon</a> and <a
                        href="https://chrome.google.com/webstore/detail/rsstodolist/gjnfedompndjcoeannmcppbckbkjhpkd">Chrome
                        extension</a> are available to add or remove an item in a feed.</p>
            </details>
            <details open>
                <summary>Add or delete an item by URL</summary>
                <p>
                    <a href="add?name=somename&amp;url=https://fr.wikipedia.org/" rel="nofollow">
                        <%= rootUrl %>
                            /<strong>add?name</strong>=somename<strong>&amp;url</strong>=https://fr.wikipedia.org/
                    </a><br>
                    <a href="del?name=somename&amp;url=https://fr.wikipedia.org/" rel="nofollow">
                        <%= rootUrl %>
                            /<strong>del?name</strong>=somename<strong>&amp;url</strong>=https://fr.wikipedia.org/
                    </a>
                </p>
                <p>
                    <code>title</code> and <code>description</code> parameters are required.
                    Title will be set from web page title but you can define one by
                    using <code>title</code> parameter.
                    You can also set a description with <code>description</code>
                    parameter.
                </p>
                <p>All parameters can be minified : <code>n</code> for name, <code>u</code> for url,
                    <code>t</code> for title and <code>d</code> for description.
                </p>
            </details>
            <details open>
                <summary>Use a bookmarklet</summary>
                <p>
                    You can use a <a href="http://en.wikipedia.org/wiki/Bookmarklet"
                        title="Learn more about bookmarklet on Wikipedia">bookmarklet</a>.
                    Create a new bookmarkl and paste the following code in the URL field :
                    <code
                        class="block">javascript:var rss=prompt('RSS feed name ?');var r=new XMLHttpRequest();r.open('GET','<%= rootUrl %>/add?n='+rss+'&amp;url='+encodeURIComponent(window.location),true);r.setRequestHeader('Content-Type','text/plain;charset=UTF-8');r.onreadystatechange=function(){if(r.readyState==4){alert("Request sent : "+(r.status===200)+" ("+r.status+")");}};r.send(null);</code>
                    Clicking on that bookmark will add current page to the RSS feed.
                </p>
            </details>
            <details open>
                <summary id="related">Related</summary>
                <ul>
                    <li><a href="https://github.com/paulgreg/rsstodolist-node-server">rsstodolist-node-server</a> :
                        this web site source code that you can self-host (via nodejs or docker)</li>
                    <li><a href="https://github.com/paulgreg/rsstodolist-addon">rsstodolist-addon</a> :
                        source code for Chrome extension and Firefox addon</li>
                    <li><a href="https://github.com/paulgreg/rsstodolist-react-native">rsstodolist-react-native</a>
                        : react-native application for Android</li>
                    <li><a href="https://github.com/paulgreg/rsstodolist-django-server">rsstodolist-django-server</a>
                        : original python / django version (not maintained anymore)</li>
                </ul>
            </details>
            <details open>
                <summary>Contact</summary>
                <p>Contact me via <a href="https://paulgreg.me/">paulgreg.me</a>.</p>
            </details>
        </div>
    </div>
    <script>
        const form = document.querySelector('#submitForm');
        const radios = form.querySelectorAll('input[name="action"]')
        radios.forEach(radio => radio.addEventListener('click', (e) => {
            form.setAttribute('action', e.target.value)
        }))
    </script>
</body>

</html>